
/* interior */
body {
    position: relative;
  }
.interior .kk,
    .interior .sns {
        flex-basis: 15%;
    }

    .interior .header {
        width: 100%;
        align-items: center;
        position: fixed;
        background: white;
        z-index: 10;
    }


    .interior .nav {
        margin-bottom: 0 !important;
        order: 2;
        flex-basis: 100%;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
    }

    .interior .nav-pills .nav-link.active,
    .interior .nav-pills .show>.nav-link {
        color: #F7C331;
        background-color: #FFFFFF;

    }

    .interior .nav-link {
        color: rgb(46, 44, 38);
        font-family: 'Futura PT', 'Josefin Sans', sans-serif !important;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 1pt;
    }

    .interior .nav-link:hover {
        color: #F7C331;
    }

    .interior .nav-link:hover .nav-link::after,
    .interior .nav-pills .nav-link.active::after,
    .interior .nav-pills .show>.nav-link::after {
        transition: .3s ease-in-out;
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        margin-top: 5px;
        background: #F7C331;
    }

    .interior .content {
        padding: 15px;
        width: 100%;
        padding-top: 150px;
    }

    .interior .h2 {
        z-index: 1;
    }

   .interior .title {
        justify-content: center;
        align-items: center;
        margin: 15px auto;
    }

   .interior b,
   .interior strong {
        color: #777777;
        font-weight: 900 !important;
    }
